name: CI
on:
  push:
    branches: [main]
  pull_request:
jobs:
  checks:
    runs-on: ${{ matrix.runner }}
    permissions:
      contents: read
    strategy:
      matrix:
        include:
          - runner: ubuntu-latest
            system: x86_64-linux
          - runner: macos-latest
            system: aarch64-darwin
    steps:
      - uses: actions/checkout@v6

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@main

      - uses: cachix/cachix-action@v16
        with:
          name: kidibox
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"

      - name: Install omnix
        run: nix profile install nixpkgs#omnix

      - name: Run om ci
        run: |
          om ci run \
            --extra-access-tokens ${{ secrets.GITHUB_TOKEN }} \
            --systems "${{ matrix.system }}" \
            --results=$HOME/omci.json \
            -- --accept-flake-config
